<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Permanent Employee Details</h1>
    <ul>
    <li><a href="/emp/pemp/emp1">Employee 1 details</a></li>
    <li><a href="/emp/pemp/emp2">Employee 2 details</a></li>
    <li><a href="/emp/pemp/emp3">Employee 3 details</a></li>
    <li><a href="/emp/pemp/emp4">Employee 4 details</a></li>
    <li><a href="/emp/pemp/emp5">Employee 5 details</a></li>

    </ul>
</body>
</html>