<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Wholesale product details</h1>
        <ul>
            <li><a href="/product/wholesale/wid1">Product 1</a></li>
            <li><a href="/product/wholesale/wid2">Product 2</a></li>
            <li><a href="/product/wholesale/wid3">Product 3</a></li>
            <li><a href="/product/wholesale/wid4">Product 4</a></li>
            <li><a href="/product/wholesale/wid5">Product 5</a></li>

        </ul>
</body>
</html>